.button {
  appearance: none;
  background: #66bb6a;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 30px -4px #66bb6a;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  padding: 8px 12px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

  .os-mac & {
    padding-top: 9px;
    padding-bottom: 7px;
  }

  &:hover {
    background: #fff;
    color: #66bb6a;
    text-decoration: none;
  }

  &--arrow {
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-right: 29px;

    &::before {
      @include abs-pos(null, calc(50% - 6px), 11px, null);
      content: '';
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      height: 8px;
      transform: rotate(45deg);
      transition: all .2s ease;
      width: 8px;
    }

    &:hover::before {
      border-color: #66bb6a;
    }
  }

  &--large {
    font-weight: 500;
    letter-spacing: 0.06em;
    padding: 12px 12px 10px;

    &:hover {
      background: #fff;
      color: #66bb6a;
    }
  }

  &--white {
    background: #fff;
    box-shadow: 0 0 30px -4px #fff;
    color: #66bb6a;

    &:hover {
      background: #66bb6a;
      color: #fff;
    }
  }
}

@media (min-width: $min-tablet-width) {
  .button {
    &--large {
      font-size: 18px;
      padding: 13px 17px 13px;

      .os-mac & {
        padding-top: 14px;
        padding-bottom: 12px;
      }
    }
  }
}