.header-lang {
  color: #fff;
  cursor: pointer;
  position: relative;

  &::before {
    @include abs-pos(null, 2px, 0);
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    content: '';
    display: block;
    height: 6px;
    transform: rotate(45deg);
    width: 6px;
  }

  span {
    padding-right: 16px;
  }

  ul {
    @include abs-pos(-23px, 20px);
    padding: 8px 16px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all .2s ease-out;
    z-index: 100;

    &.visible {
      visibility: visible;
      transform: scaleY(1);
    }

    li {
      color: inherit;
      font: inherit;
      margin-bottom: 8px;
    }
  }
}

.header--white .menu .header-lang {
  color: #4d4d4e;

  &::before {
    border-color: #4d4d4e;
  }
}

@media (max-width: 1023px) {

  .header-lang {
    @include abs-pos(null, 40px, 30px);
    color: #66bb6a;

    &::before {
      top: 4px;
    }

    ul {
      left: -16px;
      padding-top: 12px;

      li {
        margin-bottom: 12px;
      }
    }
  }
}