.solutions__period {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 36px;

  li {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
    position: relative;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &::before {
      @include abs-pos(0, null, 0, 0);
      background: #66bb6a;
      content: '';
      display: block;
      height: 3px;
      transform-origin: 50% 100%;
      transform: scaleY(0);
      transition: transform .2s ease;
    }

    &:hover::before {
      background: #a6a6a6;
      transform: scaleY(.3);
    }

    &.chosen {
      &::before {
        transform: scaleY(1);
      }

      &:hover::before {
        background: #66bb6a;
      }
    }
  }

  &.appearance {
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: all .4s ease-out;

    li {
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition: all .2s .4s ease-out;

      &:nth-child(2) {
        transition-delay: .6s;
      }
    }

    &-enter {
      transform: scaleX(1);

      li {
        transform: scaleY(1);
      }
    }
  }
}