.solutions {
  .slick-slide {
    padding: 0 10px
  }

   .slick-arrow {
    position: fixed;
    left: 10px;
    top: calc(50% - 15px);
    background: #66bb6a;
    border: none;
    box-shadow: 0 0 15px 5px #fff;
    border-radius: 50%;
    display: block;
    opacity: 0;
    outline: none;
    height: 30px;
    transition: background-color .2s ease, opacity .3s ease, visibility 0s .3s;
    visibility: hidden;
    width: 30px;
    z-index: 10;

    &.visible {
      opacity: 1;
      transition: visibility 0s 0s, opacity .3s ease, background-color .2s ease;
      visibility: visible;
    }

    &::before {
      @include abs-pos(11px, 8px);
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      content: '';
      display: block;
      height: 14px;
      width: 14px;
      transform: rotate(45deg);
    }

    &.slick-disabled {
      background: #e6e6e6;
      box-shadow: none;
      opacity: .6;
    }
  }

  .slick-next {
    left: auto;
    right: 10px;

    &::before {
      transform: rotate(225deg);
      left: auto;
      right: 11px;
    }
  }
}