.title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.1;
  position: relative;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 12px;
    &::before {
      @include abs-pos(-1px, auto, -1px, -1px);
      background: #66bb6a;
      content: '';
      display: block;
      height: 0.4em;
      transform-origin: 0 50%;
      transition: all .3s ease-out;
    }
  }

  .os-mac & {
    &:last-child::before {
      bottom: 2px;
    }
  }

  span {
    display: inline-block;
    position: relative;
    transform-origin: 50% 100%;
    transition: all .3s ease-out;
  }

  @media (min-width: $min-tablet-width) {
    font-size: 25px;
  }

  @media (min-width: $min-desktop-width) {
    font-size: 30px;
  }
}

.appearance {
  .title {
    span {
      transform: scaleY(0);
      transition-delay: .6s;
    }

    &::before {
      transform: scaleX(0);
      transition-delay: .3s;
    }
  }
}

.appearance-enter {
  .title {
    span {
      transform: scaleY(1);
    }

    &::before {
      transform: scaleX(1);
    }
  }
}