.top-video {
  background: #66bb6a no-repeat 50% 50% / contain;
  box-shadow: 0 -2px 40px -10px #4d4c4d;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  span {
    @include abs-pos(6px, 18px, 0);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
  }

  &::before {
    content: '';
    display: inline-block;
    padding-bottom: 62.5%;
  }

  .play {
    @include abs-pos(calc(50% - 36px), calc(46% - 36px));
    background: #fff;
    border-radius: 50%;
    height: 72px;
    width: 72px;

    &::after {
      @include abs-pos(23px, 17px);
      border-left: 34px solid #66bb6a;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      content: '';
      width: 34px;
    }
  }

  @media (min-width: $min-desktop-width) {
    transition: all .3s ease;

    &:hover {
      transform: scale(1.12);
      box-shadow: 0 -2px 40px -10px #fff;
    }
  }
}