.top-arrow {
  @include abs-pos(calc(50% - 11px), null, null, 30px);
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  display: block;
  height: 34px;
  width: 22px;

  div {
    animation: jumping 2s infinite linear;
    height: 100%;

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background: #fff;
      height: 16px;
      width: 2px;
      top: 7px;
      left: calc(50% - 1px);
    }

    &::after {
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      height: 6px;
      width: 6px;
      transform: rotate(-45deg);
      top: 16px;
      left: calc(50% - 3px);
    }
  }
}

.top--type2 .top-arrow {
  bottom: 50px;
}

.appearance {
  .top-arrow {
    opacity: 0;
    transform: translateY(-40px);
    transition: all .3s .3s ease-out;
  }

  &-enter {
    .top-arrow {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes jumping {
  0% {
    transform: translate3d(0, -3px, 0);
  }

  50% {
    transform: translate3d(0, 3px, 0);
  }

  100% {
    transform: translate3d(0, -3px, 0);
  }
}