<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Main</title>
  <link href="css/styles.css" rel="stylesheet">
  <script>
    if(navigator.userAgent.indexOf('Mac') > 0) {
      document.documentElement.classList.add('os-mac');
    }
  </script>
</head>

<body>

<input type="checkbox" class="menu-toggler" id="menu-toggler">
<div class="wrapper">
  {% include "partials/header.njk" %}

  <div class="main">
    {% block content %}{% endblock %}
  </div>

  {% include "partials/footer.njk" %}
</div>

<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/appearance.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
