.about {
  padding: 40px 0;

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .item {
    transition: all .3s ease-out;

    &.appearance {
      opacity: 0;
      transform: translateY(100px);

      .item__title,
      .item__text {
        opacity: 0;
        transform: translateX(50px);
        transition: all .4s ease-out;
      }

      .item__title {
        transition-delay: .4s;
      }

      .item__text {
        transition-delay: .6s;
      }

      &-enter {
        opacity: 1;
        transform: translateY(0);

        .item__title,
        .item__text {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    display: flex;
    align-items: stretch;
    box-shadow: 0 0 24px rgba(0, 0, 0, .1);
    margin: 15px auto;
    max-width: 460px;
    padding: 30px 25px 25px;
    width: calc(100% - 20px);

    &__img {
      background: no-repeat 50% 2% / 90%;
      display: none;
      margin-right: 20px;
      width: 25%;
    }

    &__info {
      padding-bottom: 10px;
      position: relative;
      width: 100%;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 7px;
    }

    &__text {
      font-size: 14px;
      line-height: 1em;
    }

    &:nth-child(1) .item__img {
      background-image: url('../images/about01.svg');
    }

    &:nth-child(2) .item__img {
      background-image: url('../images/about02.svg');
    }

    &:nth-child(3) .item__img {
      background-image: url('../images/about03.svg');
      background-size: 75%;
    }

    &:nth-child(4) .item__img {
      background-image: url('../images/about04.svg');
    }
  }


}

@media (min-width: 450px) {
  .about {
    padding: 80px 0;

    .item {
      &__img {
        display: block;
      }

      &__info {
        width: 75%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 105px 0 43px;

    &__title {
      margin-bottom: 30px;
    }

    .item {
      margin: 26px 10px;
      width: calc(50% - 20px);

      &__img {
        margin-right: 25px;
      }
    }

    &__items {
      flex-direction: row;
    }
  }
}