.auditory {
  background: #f2f2f2;
  padding: 50px 0;

  &__inner {
    display: flex;
    margin: 0 -10px;
  }

  &__title {
    margin: -10px 0 60px;
    text-align: center;
  }

  .item {
    background: #fff;
    box-shadow: 0 32px 40px 0 rgba(0,0,0,0.1);
    margin: 15px 10px;
    max-width: 300px;
    padding: 32px;
    position: relative;

    &.appearance {
      opacity: 0;
      transform: translateY(100px);
      transition: all .2s ease-out;

      .item__img {
        transform: scale(0);
        transition: all .4s .2s ease-out;
      }

      .item__title,
      .item__text,
      .item__button > div {
        opacity: 0;
        transform: translateX(50px);
        transition: all .4s .4s ease-out;
      }

      .item__text {
        transition-delay: .6s;
      }

      .item__button > div {
        transition-delay: .8s;
      }

      &-enter {
        opacity: 1;
        transform: translateY(0);

        .item__img {
          transform: scale(1);
        }

        .item__title,
        .item__text,
        .item__button > div {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &__img {
      background: no-repeat 50% 50% / 50% auto;
      margin-bottom: 15px;

      &::before {
        content: '';
        display: block;
        padding-bottom: 60%;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.28;
    }

    &__button {
      height: 58px;

      > div {
        @include abs-pos(32px, null, 32px, 32px);
      }

      .button {
        width: 100%
      }
    }
  }

  @media (max-width: 1023px) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 1024px) {
    padding: 80px 0;

    .item {
      margin: 0 10px;

      &__img {
        &::before {
          padding-bottom: 70%;
        }
      }
    }
  }
}