.cards {
  padding: 20px 0;

  &__inner {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }

  &--type2 {
    padding-bottom: 0;
  }
}

@media (min-width: $min-tablet-width) {
  .cards {
    padding: 50px 0;

    &--type2 {
      padding-bottom: 0;
    }
  }
}