.card {
  align-items: flex-start;
  display: flex;
  flex: 0 0 460px;
  flex-direction: column;
  font-weight: 700;
  justify-content: space-between;
  margin: 10px;
  max-width: calc(100% - 20px);
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-transform: uppercase;

  &.appearance {
    opacity: 0;
    transform: scale(1.2);
    transition: all .4s ease-out;

    .card__text,
    .card__button {
      opacity: 0;
      transform: translateX(-50px);
      transition: all .4s ease-out;
      transition-delay: .9s;
    }

    .card__button {
      transition-delay: 1.1s;
    }
  }

  &.appearance-enter {
    opacity: 1;
    transform: scale(1);

    .card__text,
    .card__button {
      opacity: 1;
      transform: translateX(0);
    }

  }

  &__text {
    font-size: 15px;
    flex-grow: 1;
    margin-bottom: 20px;
    min-height: 80px;
  }

  &--green {
    background: #66bb6a;

    .title::before {
      background: #fff;
    }
  }

  &--dark {
    background: #4d4c4d;
    color: #fff;

    .title::before {
      background: #66bb6a;
    }
  }

  @media (min-width: 375px) {
    padding: 25px;
  }
}

@media (min-width: 400px) {
  .card__background {
    @include abs-pos(auto, auto, 0, 0);
    background: no-repeat 50% 0 / contain;
    color: #fff;
    width: 40%;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &.coins {
      background-image: url('../images/card_rocket.svg');
      bottom: -2px;
      right: -32px;
      width: 40%;
    }

    &.rocket {
      background-image: url('../images/card_coins.svg');
      bottom: -3px;
      right: -16px;
    }
  }
}

@media (min-width: $min-tablet-width) {
  .card {
    padding: 35px 45px 45px;

    &__background {
      &.rocket {
        right: -22px;
      }

      &.coins {
        bottom: -6px;
        right: -46px;
      }
    }
  }
}

@media (min-width: $min-desktop-width) {
  .card {
    &__title {
      font-size: 30px;

      &::before {
        @include abs-pos(-2px, auto, -2px, 1px);
        height: 12px;
      }
    }
  }
}