.contact-us {
  padding-bottom: 28px;
  &__inner {
    background: #f7f7f7;
    border-radius: 8px;
    display: flex;
    padding: 0 20px;
  }

  &__info {
    padding: 20px 0;
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: #808080;
    font-size: 14px;
    line-height: 1.28;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__img {
    background: url('../images/contact-us.svg') no-repeat 50% 100%;
    max-width: 360px;

    &::before {
      content:'';
      display: block;
      padding-bottom: 55%;
    }
  }

  .button {
    line-height: 24px;
    padding-left: 32px;
    padding-right: 32px;
    letter-spacing: .06em;
  }

  .appearance {
    .contact-us {
      &__title,
      &__subtitle,
      &__button {
        opacity: 0;
        transform: translateX(50px);
        transition: all .4s .4s ease-out;
      }

      &__subtitle {
        transition-delay: .6s;
      }

      &__button {
        transition-delay: .8s;
      }

      &__img {
        opacity: 0;
        transform: translateY(50px);
        transition: all .4s ease-out;
      }
    }

    &-enter {
      .contact-us {
        &__title,
        &__subtitle,
        &__button {
          opacity: 1;
          transform: translateX(0);
        }

        &__img {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    &__inner {
      flex-direction: column;
      align-items: center;

      > div {
        max-width: 360px;
      }
    }

    &__img {
      order: -1;
      width: 100%;
    }
    margin-bottom: 25px;
  }

  @media (min-width: $min-tablet-width ) {
    &__inner {
      justify-content: space-between;
      align-items: stretch;
      > div {
        width: 50%;
      }

      &__info {
        padding: 20px 0;
      }
    }
  }

  @media (min-width: $min-desktop-width) {
    &__inner {
      padding: 0 45px;
    }

    &__info {
      padding: 40px 0;
    }
  }
}