.faq {
  padding-top: 40px;

  .about + & {
    padding-top: 20px;
  }

  &__items {
    display: flex;
    margin: 0 -10px;
    @media (max-width: $max-mobile-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  .item {
    flex-grow: 2;
    margin: 10px 10px 40px;
    padding-right: 20px;

    &::before {
      background: #66bb6a;
      content: '';
      display: inline-block;
      margin-bottom: 25px;
      height: 6px;
      width: 94px;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.3;
    }

    &.appearance {
      &::before {
        transform-origin: 0 50%;
        transform: scaleX(0);
        transition: all .4s ease-out;
      }

      .item__title,
      .item__text {
        opacity: 0;
        transform: translateY(-50px);
        transition: all .4s .4s ease-out;
      }

      .item__text {
        transition-delay: .6s;
      }

      &-enter {
        &::before {
          transform: scaleX(1);
        }

        .item__title,
        .item__text {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @media (min-width: $min-tablet-width) {
    .item {
      margin-bottom: 10px;
      width: calc(33.3% - 20px);
    }

    .auditory + & {
      padding-top: 60px;
    }
  }
}