.features {
  padding-top: 75px;

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 640px;
  }

  .item {
    margin: 10px;
    max-width: 300px;

    &.appearance {
      .item__img {
        transform: scale(0);
        transition: all .4s ease-out;
      }

      .item__title,
      .item__text {
        opacity: 0;
        transform: translateX(100px);
        transition: all .4s .2s ease-out;
      }

      .item__text {
        transition-delay: .4s;
      }

      &-enter {
        .item__img {
          transform: scale(1);
        }

        .item__title,
        .item__text {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &__img {
      background: no-repeat 0 50% / auto 100%;
      height: 70px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.28;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__items {
      align-items: stretch;
      flex-direction: row;
    }

    .item {
      margin-bottom: 40px;

      &__img {
        height: 100px;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 1024px) {
    &__items {
      margin: 0 -10px;
      max-width: none;
    }
  }
}