.menu {
  color: #fff;
  font-weight: 500;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
  }

  &__nav {
    li,
    span {
      position: relative;
    }
  }

  &__nav a {
    &::before {
      @include abs-pos(-1px, auto, -1px, -2px);
      background: #000;
      content: '';
      display: block;
      height: 7px;
      transition: all 250ms ease-in-out;
      transform: scaleY(0);
      transform-origin: 50% 100%;
    }

    &.active::before {
      top: -10px;
      bottom: -10px;
      left: -12px;
      right: -12px;
      transform: scale(1);
      height: auto;
    }
  }

  .login-btn {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 0 4px 35px;
    position: relative;

    &::before {
      @include abs-pos(0);
      background: url('../images/arrow.png') no-repeat 0 0 / 200%;
      content: '';
      display: block;
      height: 28px;
      width: 28px;
    }
  }
}

.header--white .menu {
  color: #4d4d4e;

  .login-btn::before {
    background-position-x: -28px;
  }
}

.menu-toggler {
  display: none;
}

@media (max-width: 1023px) {
  .menu {
    @include abs-pos(null, 60px, 0);
    background: #fff;
    color: #66bb6a;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: flex-start;
    transition: transform .3s, visibility 0s .3s;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    z-index: 100;
    height: calc(100vh - 60px);
    right: 0;
    padding: 0 30px;
    transform: translateX(100%);
    width: 280px;
    -webkit-overflow-scrolling: touch;

    &__nav {
      padding-top: 40px;
      margin-bottom: 20px;

      a {
        position: relative;
      }
    }

    li {
      line-height: 1.4;
      list-style: none;
      margin-bottom: 18px;
      position: relative;
    }

    .login-btn::before {
      background-position: 100% 0;
      top: -2px;
    }

    .header__phone {
      margin-bottom: 18px;
    }
  }

  .menu-btn {
    background-color: currentColor;
    background-clip: content-box;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 7px 0;
    position: relative;
    height: 16px;
    transition: background-color 0.1s;
    width: 24px;
    user-select: none;

    &::before,
    &::after {
      transition: transform 0.1s;
      background: currentColor;
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      height: 2px;
      width: 100%;
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
    }

    &:focus {
      outline: none;
    }
  }

  .menu-overlay {
    @include abs-pos(0, 0);
    transition: opacity .2s;
    background: #000;
    opacity: 0;
    margin-top: 60px;
    width: 100%;
    height: 0;
    z-index: 99;
  }

  .menu-toggler:checked + .wrapper {
    height: 100vh;
    overflow: hidden;

    .menu {
      transition: transform 0.3s;
      visibility: visible;
      transform: translateX(0);
    }

    .menu-overlay {
      opacity: .4;
      height: 100vh;
    }

    .menu-btn {
      transition: background-color 0.1s;
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .header--white {
    .menu-btn {
      color: #000;
    }
  }
}

@media (min-width: 1024px) {
  .menu-btn,
  .menu-overlay {
    display: none;
  }

  .menu {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-align: center;

    &__nav {
      display: inline-block;
      margin: 0 40px 0 80px;

      a {
        &:hover::before {
          transform: scaleY(1);
        }
      }
    }

    li {
      display: inline-block;
      margin: 0 8px;
    }

    .login-btn {
      margin-left: 28px;

      &::before {
        top: -4px;
      }
    }
  }

  .header--white {
    .menu {
      &__nav a::before {
        background: #66bb6a;
      }
    }
  }
}