.pricing-info {
  padding: 33px 0 32px;
 &__title {
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 15px;
 }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.12;
    max-width: 525px;
  }

  &.appearance {
    .pricing-info__title,
    .pricing-info__text {
      opacity: 0;
      transform: translateX(50px);
      transition: all .4s ease-out;
    }

    .pricing-info__text {
      transition-delay: .2s;
    }

    &-enter {
      .pricing-info__title,
      .pricing-info__text {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}