.promo {
  padding: 20px 0 30px;

  &__inner {
    position: relative;
  }

  &__background {
    background: url('../images/promo-bg.svg') no-repeat 49% 50% / contain;
    margin: 0 auto 34px;
    max-width: 480px;

    &::before {
      content: '';
      display: block;
      padding-bottom: 60%;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    max-width: 480px;
    margin: 0 auto 15px;
  }

  .appearance {
    opacity: 0;
    transform: translateY(100px);
    transition: all .4s ease-out;

    &-enter {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width: $min-tablet-width) {
  .promo {
    padding: 40px 0 70px;

    &__background {
      max-width: none;

      &::before {
        padding-bottom: 42%;
      }
    }

    &__text {
      &--left, &--right {
        @include abs-pos(auto, 20%, auto, auto);
      }

      &--left {
        left: 0;
        right: 68%;
        text-align: right;
        &.appearance {
          transform: translateY(0) translateX(-100px);
          transition-delay: .3s;

          &.appearance-enter {
            transform: translateX(0);
          }
        }
      }

      &--right {
        right: 0;
        left: 68%;
        text-align: left;
        &.appearance {
          transform: translateY(0) translateX(100px);
          transition-delay: .3s;

          &.appearance-enter {
            transform: translateX(0);
          }
        }
      }
    }
  }
}