.review {
  margin: 0 0 20px;
  padding: 60px 0;

  &.appearance {
    .slide__photo {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      transition: all .4s ease-out;
    }

    .slide__title,
    .slide__quote {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
      transition: all .4s .3s ease-out;
    }

    .slide__quote {
      transition-delay: .5s;
    }

    .slick-arrow {
      transition: all .4s .7s ease-out;
    }

    .slick-prev {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);

    }

    .slick-next {
      opacity: 0;
      transform: translate3d(30px, 0, 0);
    }

    &-enter {
      .slide__photo,
      .slide__title,
      .slide__quote,
      .slick-arrow {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__items {
    position: relative;

    &:not(.slick-initialized) {
      .slide {
        margin-bottom: 62px;

        &:not(:first-child) {
          display: none;
        }
      }
    }
  }

  .slick-arrow {
    @include abs-pos(null, calc(45% - 19px));
    background: #eef8ef;
    border: 4px solid #66bb6a;
    box-shadow: 0 0 20px #ccc;
    border-radius: 50%;
    font-size: 0;
    outline: none;
    height: 38px;
    width: 38px;
    transition: all .3s ease;
    z-index: 1;

    &::before {
      @include abs-pos(11px, 9px);
      border-left: 3px solid #66bb6a;
      border-bottom: 3px solid #66bb6a;
      content: '';
      height: 13px;
      width: 13px;
      transform: rotate(45deg);
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;

    &::before {
      transform: rotate(-135deg);
      left: auto;
      right: 11px;
    }
  }

  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }

  .slide {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__photo {
      background: no-repeat 50% 50% / contain;
      margin: 0 auto 20px;
      max-width: 240px;
      width: 100%;
      &::before {
        content: '';
        display: block;
        padding-bottom: 120%;
      }
    }

    &__text {
      line-height: 1.2;
      text-align: center;
    }

    &__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &__name {
      text-transform: uppercase;
    }
  }

  @media (max-width: $max-mobile-width) {
    .slick-prev {
      left: -10px;
    }

    .slick-next {
      right: -10px;
    }
  }

  @media (max-width: $min-tablet-width) {
    .slick-slide > div,
    .slide,
    .slide__inner {
      height: 100%;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__items {
      padding: 0 80px;
    }

    .slick-arrow:hover {
      box-shadow: 0 0 30px #ccc;
      transform: scale(1.16);
    }

    .slide {

      &__inner {
        flex-direction: row;
        margin: 0 -25px;

        > div{
          padding: 0 25px;
        }
      }

      &__photo {
        margin: 0;
        width: 36%;
      }

      &__text {
        text-align: left;
        width: 64%;
      }
    }
  }
}