.sign-in {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .5s ease-out;
  z-index: 100;

  &__popup {
    background: #fff;
    flex-grow: 2;
    max-width: 410px;
    padding: 26px 32px 32px;
    position: relative;
    transform: scale(0);
    transition: all .5s .2s ease-out;

    &.success {
      max-width: 360px;

      .sign-in__form {
        display: none;
      }

      .sign-in__success {
        display: block;
      }
    }
  }

  &__close {
    @include abs-pos(null, 30px, 32px);
    cursor: pointer;
    height: 18px;
    width: 18px;

    &::before,
    &::after {
      @include abs-pos(0, 50%);
      background: #989898;
      content: '';
      display: block;
      height: 2px;
      transform-origin: 50% 50%;
      width: 20px
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 28px;
    text-transform: uppercase;
  }

  &__error {
    color: #ff7272;
    font-size: 13px;
    display: none;
    padding-top: 7px;
  }

  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  input {
    background: #f4f4f4;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    font-size: 14px;
    line-height: 46px;
    height: 48px;
    padding: 0 16px;
    width: 100%;

    &::placeholder {
      color: #979797;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 22px;
  }

  .button {
    width: 100%;

    &.inactive,
    &.inactive:hover {
      color: #fff;
      background: #b8b9b8;
      box-shadow: rgba(191, 191, 191, .3) 0 0 13px;
    }
  }

  .error {
    input {
      border-color: #ff7272;
    }

    .sign-in__error {
      display: block;
    }

    .sign-in__group:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__success {
    display: none;
    padding: 30px 0 0;
    text-align: center;
  }

  &__img {
    background: url('../images/sign_in.png') no-repeat 50% 50% / contain;
    height: 160px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.28;
    margin: 0 auto 40px;
    max-width: 300px;
  }

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;

    .sign-in__popup {
      transform: scale(1);
    }
  }

  @media (min-width: 500px) {
    &__title {
      font-size: 30px;
    }
  }
}