.top {
  background: #66bb6a url('../images/top-bg.svg') no-repeat 50% 0 / contain;
  color: #fff;
  padding: 30px 0 100px;
  position: relative;

  &.appearance {
    opacity: 0;
    transition: all .3s ease-out;

    .top__title,
    .top__text,
    .top__button,
    .top-video {
      opacity: 0;
      transform: translateX(-200px);
      transition: all .3s .3s ease-out;
    }

    .top__text {
      transition-delay: .5s;
    }

    .top__button {
      transition-delay: .7s;
    }

    .top-video {
      transition-delay: .9s;
      &:nth-child(2) {
        transition-delay: 1.1s;
      }
    }

    .top-video {
      transform: translateX(200px);

      span {
        opacity: 0;
        transform: translateY(-20px);
        transition: all .3s 1.1s ease-out;
      }

      .play {
        transform: scale(0) translateY(-20px);
        transition: all .3s 1.1s ease-out;
      }

      &:nth-child(2) {
        span, .play {
          transition-delay: 1.3s;
        }
      }
    }

    &-enter {
      opacity: 1;

      .top__title,
      .top__text,
      .top__button,
      .top-video {
        opacity: 1;
        transform: translateX(0);
      }



      .top-video {
        span {
          opacity: 1;
          transform: translateY(0);
        }

        .play {
          transform: scale(1) translateY(0);
        }
      }
    }
  }

  &__videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__inner {
    position: relative;
    text-align: center;
  }

  &__info {
    margin: 0 auto;
    max-width: 520px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 0.9;
  }

  &__text {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.15;
  }

  &--carriers {
    background-image: url('../images/top-carriers-bg.png');
  }

  &--stations {
    background-image: url('../images/top-stations-bg.png');
  }

  &--agents {
    background-image: url('../images/top-agents-bg.png');
  }

  @media (min-width: $min-tablet-width) {
    &__info {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 14px;
    }

    &__text {
      margin-bottom: 45px;
    }
  }

  @media (min-width: 1024px) {
    padding: 100px 0 90px;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 380px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      text-align: left;
    }

    &__text {
      max-width: 460px;
    }

    &__videos {
      width: 320px;
    }

    &__button .button {
      min-width: 234px;
    }

    &--carriers,
    &--stations,
    &--agents {
      background-position: 50% -100px;
      background-size: 100% auto;
      padding: 20px 0 80px;

      .top__info {
        max-width: 560px;
      }

      .top__title {
        margin-bottom: 25px;
        max-width: 545px;
      }

      .top__text {
        margin-bottom: 30px;
        max-width: none;
      }

      .top-arrow {
        bottom: 45px;
      }
    }
  }

  @media (min-width: $min-desktop-width) {
    &--carriers,
    &--stations,
    &--agents {
      background-position: 50% -100px;
      background-size: 1200px auto;
      padding: 40px 0 80px;
    }
  }
}