.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s;
  transform: translateZ(0);

  &__overlay {
    @include abs-pos(0, 0, 0, 0);
    background: #000;
    opacity: 0.7;
  }

  &__close {
    @include abs-pos(null, 10px, 10px);
    cursor: pointer;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      @include abs-pos(0, 13px, 0);
      background: #fff;
      content: '';
      height: 4px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    position: relative;
    max-width: 800px;
    width: 100%;

    video {
      background: #000;
      width: 100%;
    }
  }

  &--opened {
    visibility: visible;
    transition: opacity 0.3s;
    opacity: 1;
  }
}