.solutions {
  padding-bottom: 56px;

  &__items {
    display: flex;
    margin: 0 -10px 47px;
    position: relative;

    &.appearance {
      .item {
        border-color: transparent;
        transition: border-color .3s ease-out;

        &__title,
        &__price,
        &__button,
        ul {
          opacity: 0;
          transform: translateY(50px);
          transition: all .3s ease-out;
        }

        &__price {
          transition-delay: .2s;
        }

        &__button {
          transition-delay: .4s;
        }

        ul {
          transition-delay: .6s;
        }
      }

      &-enter {
        .item {
          border-color: #e6e6e6;

          &__title,
          &__price,
          &__button,
          ul {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  .item {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;

    &__title {
      background: #f7f7f7;
      border-bottom: 1px solid #e6e6e6;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 0;
      text-align: center;
    }

    &__price {
      color: #66bb6a;
      font-size: 24px;
      font-weight: 900;
      height: 68px;
      padding: 20px 0;
      position: relative;
      margin-bottom: 10px;
      text-align: center;

      span {
        @include abs-pos(0, 20px, 0, 20px);
        visibility: hidden;
        transform: scale(0);
        transition: transform .4s ease, visibility 0s .4s;
        &.active {
          visibility: visible;
          transform: scale(1);
          transition: visibility 0s .4s, transform .4s .4s ease;
        }
      }
    }

    .button {
      display: block;
      margin: 0 24px 30px;
      padding: 13px 12px;
    }

    ul {
      padding: 0 22px;
    }

    li {
      color: #a6a6a6;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 1.5;
      padding-left: 20px;
      position: relative;

      &::before {
        @include abs-pos(0, 2px);
        border-bottom: 1px solid #a6a6a6;
        border-right: 1px solid #a6a6a6;
        content: '';
        display: block;
        width: 5px;
        height: 10px;
        transform: rotate(45deg);
      }

      span {
        display: inline-block;
        padding-bottom: 17px;
      }

      &.included {
        color: #000;

        &::before {
          border-color: #66bb6a;
        }
      }

      &.tooltip {
        color: #66bb6a;
        cursor: pointer;

        span {
          position: relative;

          &::after {
            @include abs-pos(0, null, 0, 15px);
            background: #d4e6d5;
            content: '';
            display: block;
            height: 1px;
          }
        }

        .tooltip__text {
          @include abs-pos(20px, -45px);
          background: rgba(0, 0, 0, 0.8);
          border-radius: 4px;
          color: #fff;
          display: block;
          font-weight: 500;
          padding: 10px 24px;
          visibility: hidden;
          transform: scaleY(0);
          transform-origin: 50% 100%;
          transition: all .2s ease, visibility 0s .2s ;

          &::after {
            display: none;
          }
        }

        &:hover {
          span::after {
            background: transparent;
          }

          .tooltip__text {
            visibility: visible;
            transform: scaleY(1);
            transition: all .2s ease;
          }
        }
      }
    }

    &__bottom {
      background: #f7f7f7;
      border-top: 1px solid #e6e6e6;

      .button-block {
        padding-bottom: 24px;
      }

      .button {
        margin-bottom: 0
      }
    }

    .option {
      padding: 0 42px 32px;
      font-size: 13px;
      line-height: 1.38;

      &:first-child {
        padding-top: 30px;
      }

      &__title {
        margin-bottom: 5px;
      }

      &__value {
        color: #999999;
      }
    }
  }

  &__button {
    text-align: center;

    &.appearance {
      opacity: 0;
      transform: translateY(50px);
      transition: all .3s ease-out;

      &-enter {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .button {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .06em;
      line-height: 29px;
      border: 2px solid #ccc;
      color: #000;
      min-width: 300px;
      padding: 8px 28px 5px;

      &:hover {
        border-color: transparent;
        color: #fff;
      }
    }

    .hide {
      display: none;
    }
  }

  .additional {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .8s, max-height .4s .4s ease, opacity .4s 0s ease;
    max-height: 0;
  }

  &.expanded {
    .additional {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 0s, max-height .4s 0s ease-in, opacity .4s .4s ease;
      max-height: 1000px;
    }

    .solutions__button {
      .show {
        display: none;
      }

      .hide {
        display: inline;
      }
    }
  }

  @media (min-width: 1024px) {
   .item {
     margin: 0 10px;
     max-width: 300px;
   }
  }
}