html {
  font: 400 16px/1.2 'GothamProWeb', sans-serif;
  touch-action: manipulation;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  background: #fff;
  color: #000;
  font: inherit;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

h1 { font-size: 20px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}



