.no-transition {
  &,
  * {
    transition: none !important;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

@media (min-width: $min-desktop-width) {
  html.no-scroll {
    height: 100%;

    body {
      height: 100%;
      overflow: hidden;
    }
  }
}