@mixin abs-pos($left: null, $top: null, $right: null, $bottom: null) {
    position: absolute;
    @if $top {
        top: $top;
    }
    @if $left {
        left: $left;
    }
    @if $right {
        right: $right;
    }
    @if $bottom {
        bottom: $bottom;
    }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}