{% set page = 'agents-page' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/top-agents.njk" %}
  {% include "partials/features03.njk" %}
  {% include "partials/faq.njk" %}
  {% include "partials/cards.njk" %}
  {% include "partials/sign-in.njk" %}

{% endblock %}