{% set page = 'carrier-page' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/top-carriers.njk" %}
  {% include "partials/features.njk" %}
  {% include "partials/about02.njk" %}
  {% include "partials/auditory02.njk" %}
  {% include "partials/faq.njk" %}
  {% include "partials/cards.njk" %}
  {% include "partials/sign-in.njk" %}

{% endblock %}