{% set page = 'main' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/top.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/auditory.njk" %}
  {% include "partials/promo.njk" %}
  {% include "partials/cards.njk" %}
  {% include "partials/review.njk" %}
  {% include "partials/sign-in.njk" %}

{% endblock %}

