{% set page = 'pricing-page' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/pricing-info.njk" %}
  {% include "partials/solutions.njk" %}
  {% include "partials/contact-us.njk" %}

{% endblock %}

