{% set page = 'stations-page' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/top-stations.njk" %}
  {% include "partials/features02.njk" %}
  {% include "partials/about03.njk" %}
  {% include "partials/faq.njk" %}
  {% include "partials/cards.njk" %}
  {% include "partials/sign-in.njk" %}

{% endblock %}