.footer {
  &__inner {
    padding: 30px 0;
  }

  &__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 280px;
  }

  &__mail {
    color: #66bb6a;
    font-size: 13px;
    font-weight: 500;
  }

  &__social {
    font-size: 0;

    li {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      background: url('../images/social.png') no-repeat 0 0 / auto 200%;
      display: block;
      height: 30px;
      width: 30px;

      &:hover {
        background-position-y: -30px;
      }

      &.facebook {
        margin-right: -6px;
      }

      &.twitter {
        background-position-x: 33.333%;
        margin-right: -4px;
      }

      &.telegram {
        background-position-x: 66.666%;
      }

      &.linkedin {
        background-position-x: 100%;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    text-align: center;

    &__social {
      margin-bottom: 30px;

      li {
        margin: 0 10px;
      }
    }

    &__info {
      flex-direction: column;
    }

    &__mail {
      order: -1;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__inner {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      min-height: 100px;
    }

    &__social {
      li {
        margin-left: 20px;
      }
    }

    &__info {
      flex-grow: 2;
      order: -1;
      margin: 0;
    }
  }

  @media (min-width: $min-desktop-width) {
    &__info {
      max-width: 320px;
    }
  }
}
