.header {
  background: #66bb6a;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .logo {
    background: url('../images/logo.svg') no-repeat 0 50%/contain;
    display: block;
    height: 40px;
    width: 150px;
    margin-left: -4px;
  }

  &--white {
    background: #fff;

    .logo {
      background-image: url('../images/logo2.svg');
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__inner {
      height: 100px;
    }

    .logo {
      margin-bottom: 5px;
    }

    &--carrier {
      background: #66bb6a url("../images/top-carriers-bg.png") no-repeat 50% 0 / 100% auto;
    }

    &--stations {
      background: #66bb6a url("../images/top-stations-bg.png") no-repeat 50% 0 / 100% auto;
    }

    &--agents {
      background: #66bb6a url("../images/top-agents-bg.png") no-repeat 50% 0 / 100% auto;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .header {
    &--carrier,
    &--stations,
    &--agents{
      background-size: 1200px auto;
    }
  }
}