<div class="about">
  <div class="center">
    <div class="about__inner">
      <div class="about__title" data-appearance>
        <div class="title"><span>Управление бизнесом,</span></div><br><div class="title"><span>анализ и отчетность</span></div>
      </div>
      <div class="about__items">

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Легкое управление рейсами и инвентарем, заказами и билетами.</div>
            <div class="item__text">Мастер создания рейсов. Планировщик изменений. Расписания, тарифы, места и многое другое. Операции с билетами и заказами: возврат, отмена, переоформление. Быстрый поиск и удобные фильтры данных. Всё это позволит вам оптимизировать затраты на персонал и повысить производительность труда.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img" style="background-image: url('images/about03.svg');"></div>
          <div class="item__info">
            <div class="item__title">Мобильные приложения.</div>
            <div class="item__text">Сделайте простой и быстрой посадку и учёт пассажиров для контролёров, без кучи бумажных ведомостей и записей на листочках. А ещё продавайте билеты прямо на перроне или из салона автобуса.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img" style="background-image: url('images/about02.svg');"></div>
          <div class="item__info">
            <div class="item__title">Статистика продаж и финансовая аналитика.</div>
            <div class="item__text">Формируйте отчёты о продажах в различных разрезах и формах. Выявляйте закономерности, отслеживайте тренды, принимайте правильные решения вовремя. Посмотрите рентабельность и финансовые показатели каждой отдельной станции или даже сотрудника.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Совместимость с бухгалтерскими, платежными и другими системами.</div>
            <div class="item__text">Полная интеграция всей отчетности с популярными бухгалтерскими программами (включая 1С: Бухгалтерию), совместимость с популярными платежными шлюзами, телефонией и быстрая интеграция любого другого стороннего ПО.</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>