<div class="about">
  <div class="center">
    <div class="about__inner">
      <div class="about__title" data-appearance>
        <div class="title"><span>Управление бизнесом,</span></div><br><div class="title"><span>анализ и отчетность</span></div>
      </div>
      <div class="about__items">

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Управление рейсами и инвентарем, заказами и билетами.</div>
            <div class="item__text">Мастер создания рейсов. Конструктор шаблонов автобусов. Планировщик изменений. Расписания, тарифы, места и многое другое. Операции с билетами и заказами: возврат, отмена, переоформление. Быстрый поиск и удобные фильтры данных.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img" style="background-image: url('images/about03.svg');"></div>
          <div class="item__info">
            <div class="item__title">Мобильные приложения.</div>
            <div class="item__text">Сделайте простой и быстрой посадку/высадку пассажиров для водителей, без кучи бумажных ведомостей и записей на листочках. Дайте возможность пассажирам легко купить билет при помощи их любимого мобильного устройства.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img" style="background-image: url('images/about02.svg');"></div>
          <div class="item__info">
            <div class="item__title">Статистика продаж и финансовая аналитика.</div>
            <div class="item__text">Формируйте отчёты о продажах в различных разрезах и формах. Выявляйте закономерности, отслеживайте тренды, принимайте правильные решения вовремя. Посмотрите рентабельность и финансовые показатели каждого рейса.
            </div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Документация.</div>
            <div class="item__text">Формируйте и печатайте необходимую документацию на рейс для водителей и диспетчеров за несколько секунд.</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>