<div class="about">
  <div class="center">
    <div class="about__inner">
      <div class="about__title" data-appearance>
        <div class="title"><span>Зачем вам октобус?</span></div>
      </div>
      <div class="about__items">

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Продажи и управление лояльностью</div>
            <div class="item__text">Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите и сохраните данные своих клиентов,</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Управление бизнесом и аналитика</div>
            <div class="item__text">Простое и быстрое управление рейсами, пересадками, расписаниями и тарифами сможет сэкономить время и деньги на рутинных задачах, которые напрямую не дают дохода.</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Мобильные приложения</div>
            <div class="item__text">Водителям теперь не надо работать с кучей бумаг при посадке пассажиров. Они будут точно знать, кто где выходит, сколько человек в салоне, кого и куда надо</div>
          </div>
        </div>

        <div class="item" data-appearance>
          <div class="item__img"></div>
          <div class="item__info">
            <div class="item__title">Интеграция со всеми</div>
            <div class="item__text">с Октобусом вы увидите все продажи в одном месте. Интеграция с автостанциями, агентами и онлайн- дистрибьюторами позволит вам уйти от квот и бесконечного</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>