<div class="auditory">
  <div class="center">
    <div class="auditory__inner">

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory01.png');"></div>
        <div class="item__title">Для автостанций</div>
        <div class="item__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</div>
        <div class="item__button"><div><a href="#" class="button">Подробнее</a></div></div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory02.png');"></div>
        <div class="item__title">Для перевозчиков</div>
        <div class="item__text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</div>
        <div class="item__button"><div><a href="#" class="button">Подробнее</a></div></div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory03.png');"></div>
        <div class="item__title">Для агентов</div>
        <div class="item__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</div>
        <div class="item__button"><div><a href="#" class="button">Подробнее</a></div></div>
      </div>

    </div>
  </div>
</div>