<div class="auditory">
  <div class="center">

    <div class="auditory__title" data-appearance>
      <div class="title"><span>Интеграция с другими сервисами</span></div>
    </div>

    <div class="auditory__inner">

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory01.png');"></div>
        <div class="item__title">Выгрузка данных и совместимость с другими системами продажи.</div>
        <div class="item__text">Автоматический сбор данных о ваших продажах из автостанционных и дистрибьюторских систем в одну ведомость. Мощный протокол взаимодействия (API) позволяет бесшовно отдавать ваш билетный для продажи во все основные системы автовокзалов и агентов.</div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory02.png');"></div>
        <div class="item__title">Продажа билетного ресурса из других систем.</div>
        <div class="item__text">Теперь вы можете предложить более широкий выбор поездок своим клиентам. Организуйте полноценное агентство по продаже автобусных билетов легко и быстро!
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('images/auditory03.png');"></div>
        <div class="item__title">Совместимость с бухгалтерскими, платежными и другими системами.</div>
        <div class="item__text">Полная интеграция всей отчетности с популярными бухгалтерскими программами (включая 1С: Бухгалтерию), совместимость с популярными платежными шлюзами, телефонией и быстрая интеграция любого другого стороннего ПО.</div>
      </div>

    </div>
  </div>
</div>