<div class="cards{% if page == "stations-page" or page == "carrier-page" or page == "agents-page" %} cards--type2{% endif %}">
  <div class="center">
    <div class="cards__inner">

      <div class="card card--green" data-appearance>
        <div class="card__background rocket"></div>
        <div class="title"><span>Готовы начать?</span></div>
        <div class="card__text">95% клиентов говорит,<br>что пользоваться<br>Октобус просто</div>
        <div class="card__button">
          <a href="#" class="button button--large button--white">Пробный период</a>
        </div>
      </div>

      <div class="card card--dark" data-appearance>
        <div class="card__background coins"></div>
        <div class="title"><span>Какая стоимость?</span></div>
        <div class="card__text">Собственная система<br>обойдется вам дороже.</div>
        <div class="card__button">
          <a href="#" class="button button--large">Посмотреть цены</a>
        </div>
      </div>

    </div>
  </div>
</div>