<div class="contact-us">
  <div class="center">
    <div class="contact-us__inner" data-appearance>
      <div class="contact-us__info">
        <div class="contact-us__title">Если вы автостанция или агент, у нас есть уникальное предложение для вас.</div>
        <div class="contact-us__subtitle">Свяжитесь с нами и мы расскажем вам о нём подробно.</div>
        <div class="contact-us__button"><a href="#" class="button">Напишите нам</a></div>
      </div>
      <div class="contact-us__img"></div>
    </div>
  </div>
</div>