<div class="faq">
  <div class="center">
    <div class="faq__items">

      <div class="item" data-appearance>
        <div class="item__title">Почему это выгодно?</div>
        <div class="item__text">
          Стоимость разработки собственной системы – десятки, если не сотни тысяч. А её ведь ещё надо поддерживать и обновлять, это дополнительные затраты. Другие решения на рынке берут комиссию со всех ваших продаж. Октобус даст вам доступ к мощным инструментам, технической поддержке и бесплатным обновлениям за небольшую абонентскую плату. И никаких комиссий!
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__title">Это безопасно? Вдруг мою клиентскую базу украдут!</div>
        <div class="item__text">
          Октобус имеет двойную (end-to-end) систему шифрования данных. Доступ к клиентской базе и финансовой информации имеете вы и только вы. Даже ваши сотрудники будут ограничены в доступе к той информации, которую вы сочтёте конфиденциальной.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__title">Как подключиться?</div>
        <div class="item__text">
          Заполните простую контактную форму и мы свяжемся с вами в течение 30 минут. Мы проведем вам демонстрацию, подробно объясним все условия и ответим на все ваши вопросы. А ещё вы получите первый месяц пользования бесплатно!
        </div>
      </div>
    </div>
  </div>
</div>