<div class="features">
  <div class="center">
    <div class="features__title" data-appearance>
      <div class="title"><span>Продажи</span></div>
    </div>
    <div class="features__items">

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features01.png');"></div>
        <div class="item__title">
          Полная автоматизация продаж по телефону – модуль быстрого бронирования, интегрированный с IP-телефонией.
        </div>
        <div class="item__text">
          Вы сможете быстро построить полнофункциональный колл-центр для продажи билетов и обслуживания пассажиров. Обработка заказа по телефону за 15 секунд, защищенная клиентская база, продажа билетов с пересадкой, туда/обратно за один сеанс.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features02.png');"></div>
        <div class="item__title">
          Продажа билетов на сайте с регистрацией пользователей и личным кабинетом.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите и сохраните данные своих клиентов, не важно, где и кто продал им билет. У вас будет полная картина всех покупок и действий и вы легко сможете предложить клиентам скидки и акции, чтобы привлечь и удержать их.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features03.png');"></div>
        <div class="item__title">
          CRM – ведение и анализ клиентской базы. Скидки, промоакции и наценки.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите и сохраните данные своих клиентов, не важно, где и кто продал им билет. У вас будет полная картина всех покупок и действий и вы легко сможете предложить клиентам скидки и акции, чтобы привлечь и удержать их.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features04.png');"></div>
        <div class="item__title">
          Агентская сеть.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите и сохраните данные своих клиентов, не важно, где и кто продал им билет. У вас будет полная картина всех покупок и действий и вы легко сможете предложить клиентам скидки и акции, чтобы привлечь и удержать их.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features05.png');"></div>
        <div class="item__title">
          Собственные кассы или точки продажи.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите и сохраните данные своих клиентов, не важно, где и кто продал им билет. У вас будет полная картина всех покупок и действий и вы легко сможете предложить клиентам скидки и акции, чтобы привлечь и удержать их.
        </div>
      </div>

    </div>
  </div>
</div>