<div class="features">
  <div class="center">
    <div class="features__title" data-appearance>
      <div class="title"><span>Продажи</span></div>
    </div>
    <div class="features__items">

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features01.png');"></div>
        <div class="item__title">
          Полная автоматизация продаж по телефону – модуль быстрого бронирования, интегрированный с IP-телефонией.
        </div>
        <div class="item__text">
          Вы сможете быстро построить полнофункциональный колл-центр для продажи билетов и обслуживания пассажиров. Обработка заказа по телефону за 15 секунд, защищенная клиентская база, продажа билетов с пересадкой, туда/обратно за один сеанс.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features02.png');"></div>
        <div class="item__title">
          Собственный полнофункциональный сайт – быстро и недорого.
        </div>
        <div class="item__text">
          На базе нашей платформы можно построить современный сайт для продажи билетов и информирования пассажиров с нуля, или быстро адаптировать уже имеющийся. Личный кабинет и регистрация пассажиров и информационное табло по станциям уже включены.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features03.png');"></div>
        <div class="item__title">
          Двухсторонняя интеграция – продажа билетного ресурса из других систем и подключение агентов.
        </div>
        <div class="item__text">
          Теперь вы можете предложить более широкий выбор поездок своим клиентам. Подключайте любые системы бронирования перевозчиков и продавайте всё в одном окне. Мощный протокол взаимодействия (API) позволяет бесшовно отдавать ваш билетный ресурс для продажи во все системы агентов и дистрибьюторов.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features04.png');"></div>
        <div class="item__title">
          Гибкие продажи.
        </div>
        <div class="item__text">
          Продажи с пересадками, туда и обратно, многосегментные и мультимодальные билеты – расширенный функционал продажной системы сможет увеличить вашу выручку и повысить конкурентоспособность.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features05.png');"></div>
        <div class="item__title">
          CRM – ведение и анализ клиентской базы. Скидки, промоакции и наценки.
        </div>
        <div class="item__text">
          Будьте в курсе кто, что и когда у вас покупает и куда ездит. Сегментируйте своих клиентов по различным признакам и делайте им адресные предложения при помощи рассылок. Инструменты для формирования гибких цен и лояльных клиентов. 9 видов скидок, 2 вида наценок, неограниченное количество промо-кодов.
        </div>
      </div>

    </div>
  </div>
</div>