<div class="features">
  <div class="center">
    <div class="features__items">

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features01.png');"></div>
        <div class="item__title">
          Прямые отношения с перевозчиками.
        </div>
        <div class="item__text">
          Вы сможете быстро построить полнофункциональный колл-центр для продажи билетов и обслуживания пассажиров. Обработка заказа по телефону за 15 секунд, защищенная клиентская база, продажа билетов с пересадкой, туда/обратно за один сеанс.
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features02.png');"></div>
        <div class="item__title">
          Все автобусные билеты в одном месте.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features03.png');"></div>
        <div class="item__title">
          Гибкие продажи.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features04.png');"></div>
        <div class="item__title">
          CRM – ведение и анализ клиентской базы. Скидки, промоакции и наценки.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features05.png');"></div>
        <div class="item__title">
          Статистика продаж и финансовая аналитика.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите
        </div>
      </div>

      <div class="item" data-appearance>
        <div class="item__img" style="background-image: url('../images/features06.png');"></div>
        <div class="item__title">
          Совместимость с бухгалтерскими, платежными и другими системами.
        </div>
        <div class="item__text">
          Увеличьте свои продажи с Октобусом – легко запустите свой сайт, колл-центр, кассу и постройте агентскую сеть. Вы навсегда получите
        </div>
      </div>

    </div>
  </div>
</div>