<footer class="footer">
  <div class="center">
    <div class="footer__inner">
      <ul class="footer__social">
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="telegram"></a></li>
        <li><a href="#" class="linkedin"></a></li>
      </ul>
      <div class="footer__info">
        <div class="footer__copyright">Octobus 2019 &copy</div>
        <a href="mailto:info@octobus.ua" class="footer__mail">info@octobus.ua</a>
      </div>

    </div>
  </div>
</footer>