<header class="header{% if page == "carrier-page" %} header--carrier{% endif %}{% if page == "stations-page" %} header--stations{% endif %}{% if page == "agents-page" %} header--agents{% endif %}{% if page == "pricing-page" %} header--white{% endif %}">
  <label for="menu-toggler" class="menu-overlay" role="button"></label>
  <div class="center">
    <div class="header__inner">
      <a href="/" class="logo"></a>
      <label for="menu-toggler" class="menu-btn" role="button"></label>
      <div class="menu">
        <nav class="menu__nav">
          <ul>
            <li><a href="carrier-page.html" {% if page == "carrier-page" %}class="active"{% endif %}><span>Перевозчикам</span></a></li>
            <li><a href="stations-page.html" {% if page == "stations-page" %}class="active"{% endif %}><span>Автостанциям</span></a></li>
            <li><a href="agents-page.html" {% if page == "agents-page" %}class="active"{% endif %}><span>Агентам</span></a></li>
          </ul>
        </nav>
        <div class="header-lang">
          <span>RU</span>
          <ul>
            <li><a href="#">RU</a></li>
            <li><a href="#">EN</a></li>
            <li><a href="#">UK</a></li>
          </ul>
        </div>
        <div class="header__phone">+38 (044) 537-02-22</div>
        <a href="#" class="login-btn">Войти</a>
      </div>
    </div>
  </div>
</header>