<div class="pricing-info" data-appearance>
  <div class="center">
    <div class="pricing-info__title">Решения</div>
    <div class="pricing-info__text">
      Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
    </div>
  </div>
</div>