<div class="promo">
  <div class="center">
    <div class="promo__inner">
      <div class="promo__background" data-appearance></div>
      <div class="promo__text promo__text--left" data-appearance>Единая платформа для ваших базовых бизнес процессов</div>
      <div class="promo__text promo__text--right" data-appearance>Вы сможете продавать и зарабатывать больше</div>
      <div class="promo__text" data-appearance>Сделаем простыми отношения между перевозчиками, автостанциями и агентами: от обмена информацией до взаиморасчётов.</div>
    </div>
  </div>
</div>