<div class="review" data-appearance>
  <div class="center">
    <div class="review__items">

      <div class="slide">
        <div class="slide__inner">
          <div class="slide__photo" style="background-image: url('images/slide01.jpg');"></div>
          <div class="slide__text">
            <div class="slide__title">
              <div class="slide__name">Иван Петров</div>
              <div class="slide__position">Директор ООО пас транс</div>
            </div>
            <div class="slide__quote">
              Вашим водителям больше не надо работать с кучеий ведомостей при посадке, записывать пассажиров и багаж. Они будут точно знать, в салоне, кого и куда надо пересадить. Вы будете знать, где ваш автобус, сколько он проехал, сколько топлива он израсходовал. Вы уменьшите количество телефонных звонков между диспетчерами и персоналом автобусов.
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="slide__inner">
          <div class="slide__photo" style="background-image: url('images/slide01.jpg');"></div>
          <div class="slide__text">
            <div class="slide__title">
              <div class="slide__name">Иван Петров</div>
              <div class="slide__position">Директор ООО пас транс</div>
            </div>
            <div class="slide__quote">
              Вашим водителям больше не надо работать с кучеий ведомостей при посадке, записывать пассажиров и багаж. Они будут точно знать, в салоне, кого и куда надо пересадить. Вы будете знать, где ваш автобус, сколько он проехал, сколько топлива он израсходовал. Вы уменьшите количество телефонных звонков между диспетчерами и персоналом автобусов.
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="slide__inner">
          <div class="slide__photo" style="background-image: url('images/slide01.jpg');"></div>
          <div class="slide__text">
            <div class="slide__title">
              <div class="slide__name">Иван Петров</div>
              <div class="slide__position">Директор ООО пас транс</div>
            </div>
            <div class="slide__quote">
              Вашим водителям
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>