<div id="sign-in" class="sign-in">
  <div class="sign-in__popup">

    <div class="sign-in__form">

      <div class="sign-in__close"></div>
      <div class="sign-in__title">Попробовать</div>
      <div>

        <div class="sign-in__group">
          <label for="sign-in-name">Ваше имя</label>
          <input id="sign-in-name" type="text" placeholder="ведите ваше имя">
          <div class="sign-in__error">Это обязательное поле.</div>
        </div>

        <div class="sign-in__group">
          <label for="sign-in-name">Ваш номер телефона</label>
          <input id="sign-in-name" type="text" placeholder="+38 (000) 000 00 00">
          <div class="sign-in__error">Не верный формат номера.</div>
        </div>

        <div class="sign-in__group">
          <label for="sign-in-name">Ваш email</label>
          <input id="sign-in-name" type="text" placeholder="mail@site.com">
          <div class="sign-in__error">Это обязательное поле</div>
        </div>

        <div class="sign-in__group">
          <button class="button button--large">Отправить</button>
        </div>

      </div>

    </div>

    <div class="sign-in__success">
      <div class="sign-in__img"></div>
      <div class="sign-in__subtitle">Запрос успешно отправлен!</div>
      <div class="sign-in__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      </div>
      <a href="#" class="button button--large">Продолжить</a>
    </div>

  </div>
</div>