<div id="solutions" class="solutions">
  <div class="center">
    <div class="solutions__period" data-appearance>
      <ul>
        <li id="monthly-btn" class="chosen">Помесячно</li>
        <li id="yearly-btn">Годовая подписка</li>
      </ul>
    </div>
    <div class="solutions__items" data-appearance>
      <div class="item">
        <div class="item__title">Перевозчик "Базовый"</div>
        <div class="item__price"><span class="price-monthly active">$100</span><span class="price-yearly">$1000</span></div>
        <div class="item__button"><div class="button">Заказать</div></div>
        <ul>
          <li class="included"><span>Управление рейсами</span></li>
          <li class="included"><span>Скидки, наценки, промоакции</span></li>
          <li class="included"><span>Управление билетами и заказами</span></li>
          <li class="included"><span>Управление пользователями</span></li>
          <li><span>Агентская сеть</span></li>
        </ul>
        <div class="additional">
          <ul>
            <li class="included"><span>Модуль продажи для сайта</span></li>
            <li ><span>Модуль регистрации клиентов для сайта с личным кабинетом</span></li>
            <li class="included tooltip"><span>Модуль  быстрого бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included tooltip"><span>Стандартный модуль бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included"><span>Телефония</span></li>
            <li><span>Отчеты</span></li>
            <li><span>Выгрузка продаж из внешних систем</span></li>
            <li><span>Продажа билетного ресурса из других систем</span></li>
            <li class="included"><span>Служебные уведомления</span></li>
            <li><span>Пользовательские рассылки и информирование</span></li>
            <li class="included"><span>Центр управления</span></li>
            <li class="included"><span>Клиенты</span></li>
            <li><span>Статистика</span></li>
          </ul>
          <div class="item__bottom">
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="button-block"><a href="#" class="button">Заказать</a></div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item__title">Перевозчик "Смарт"</div>
        <div class="item__price"><span class="price-monthly active">$150</span><span class="price-yearly">$1500</span></div>
        <div class="item__button"><div class="button">Заказать</div></div>
        <ul>
          <li class="main included"><span>Управление рейсами</span></li>
          <li class="main included"><span>Скидки, наценки, промоакции</span></li>
          <li class="main included"><span>Управление билетами и заказами</span></li>
          <li class="main included"><span>Управление пользователями</span></li>
          <li class="main"><span>Агентская сеть</span></li>
        </ul>
        <div class="additional">
          <ul>
            <li class="included"><span>Модуль продажи для сайта</span></li>
            <li class="included"><span>Модуль регистрации клиентов для сайта с личным кабинетом</span></li>
            <li class="included tooltip"><span>Модуль  быстрого бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included tooltip"><span>Стандартный модуль бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included"><span>Телефония</span></li>
            <li class="included"><span>Отчеты</span></li>
            <li class="included"><span>Выгрузка продаж из внешних систем</span></li>
            <li class="included"><span>Продажа билетного ресурса из других систем</span></li>
            <li class="included"><span>Служебные уведомления</span></li>
            <li><span>Пользовательские рассылки и информирование</span></li>
            <li class="included"><span>Центр управления</span></li>
            <li class="included"><span>Клиенты</span></li>
            <li><span>Статистика</span></li>
          </ul>
          <div class="item__bottom">
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="button-block"><a href="#" class="button">Заказать</a></div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item__title">Перевозчик "Про"</div>
        <div class="item__price"><span class="price-monthly active">$225</span><span class="price-yearly">$2250</span></div>
        <div class="item__button"><div class="button">Заказать</div></div>
        <ul>
          <li class="main included"><span>Управление рейсами</span></li>
          <li class="main included"><span>Скидки, наценки, промоакции</span></li>
          <li class="main included"><span>Управление билетами и заказами</span></li>
          <li class="main included"><span>Управление пользователями</span></li>
          <li class="main included"><span>Агентская сеть</span></li>
        </ul>
        <div class="additional">
          <ul>
            <li class="included"><span>Модуль продажи для сайта</span></li>
            <li class="included"><span>Модуль регистрации клиентов для сайта с личным кабинетом</span></li>
            <li class="included tooltip"><span>Модуль  быстрого бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included tooltip"><span>Стандартный модуль бронирования</span><span class="tooltip__text">Опционально</span></li>
            <li class="included"><span>Телефония</span></li>
            <li class="included"><span>Отчеты</span></li>
            <li class="included"><span>Выгрузка продаж из внешних систем</span></li>
            <li class="included"><span>Продажа билетного ресурса из других систем</span></li>
            <li class="included"><span>Служебные уведомления</span></li>
            <li class="included"><span>Пользовательские рассылки и информирование</span></li>
            <li class="included"><span>Центр управления</span></li>
            <li class="included"><span>Клиенты</span></li>
            <li class="included"><span>Статистика</span></li>
          </ul>
          <div class="item__bottom">
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="option">
              <div class="option__title">Мобильное приложение для пассажиров:</div>
              <div class="option__value">Оплачется отдельно</div>
            </div>
            <div class="button-block"><a href="#" class="button">Заказать</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="solutions__button" data-appearance="">
      <div id="solutions-expand" class="button button--large button--white"><span class="show">Показать все решения</span><span class="hide">Спрятать</span></div>
    </div>
  </div>
</div>