<div class="top top--stations" data-appearance>
  <div class="center">
    <div class="top__inner">
      <div class="top__info">
        <div class="top__title">Зачем вам Октобус если у вас есть автостанция?</div>
        <div class="top__text">Октобус – современная и технологичная программная платформа, которое увеличит ваши продажи и даст новые каналы получения выручки. Ещё вы сможете оптимизировать затраты и увеличить рентабельность бизнеса.</div>
        <div class="top__button">
          <a href="#" class="button button--large button--white">Попробовать</a>
        </div>
      </div>
      <div class="top__videos">
      </div>
    </div>
    <div class="top-arrow"><div></div></div>
  </div>
</div>