<div class="top top--carriers" data-appearance>
  <div class="center">
    <div class="top__inner">
      <div class="top__info">
        <div class="top__title">Зачем вам Октобус если вы перевозчик?</div>
        <div class="top__text">Октобус – современная и технологичная программная платформа, которое увеличит ваши продажи и поможет управлять бизнесом эффективнее.</div>
        <div class="top__button">
          <a href="#" class="button button--large button--white">Попробовать</a>
        </div>
      </div>
    </div>
    <div class="top-arrow"><div></div></div>
  </div>
</div>