<div class="top top--agents" data-appearance>
  <div class="center">
    <div class="top__inner">
      <div class="top__info">
        <div class="top__title">Зачем вам Октобус если вы агент?</div>
        <div class="top__text">Октобус – платформа, которая даст вам доступ к тысячам перевозчиков напрямую, без посредников. Вы получите удобный инструмент для того, чтобы зарабатывать на продаже автобусных билетов и лучшие финансовые условия на рынке.</div>
        <div class="top__button">
          <a href="#" class="button button--large button--white">Попробовать</a>
        </div>
      </div>
      <div class="top__videos">
      </div>
    </div>
    <div class="top-arrow"><div></div></div>
  </div>
</div>