<div class="top" data-appearance>
  <div class="center">
    <div class="top__inner">
      <div class="top__info">
        <div class="top__title">Управлять автобусными перевозками стало легко</div>
        <div class="top__text">«Октобус» – облачный сервис нового поколения для управления автобусными перевозками. Если вы автобусный перевозчик или автостанция – вам стоит попробовать!</div>
        <div class="top__button">
          <a href="#" class="button button--large button--white">Попробовать</a>
        </div>
      </div>
      <div class="top__videos">
        <div class="top-video" style="background-image: url('../images/top_video01.jpg');" data-video="videos/how-it-works.mp4">
          <span>как это работает?</span>
          <div class="play"></div>
        </div>

        <div class="top-video" style="background-image: url('../images/top_video02.jpg');" data-video="videos/how-it-works.mp4">
          <span>Sed ut perspiciatis</span>
          <div class="play"></div>
        </div>
      </div>
    </div>
    <div class="top-arrow"><div></div></div>
  </div>
</div>